@media (max-width:769px) {
    
    #menu {
        width: 270px;
        position: fixed;
        left: -270px;
        transition: .3s ease;
    }

    #interface {
        width: 100%;
        margin-left: 0;
        display: inline-block;
        transition: .3s ease;
    }

    #interface .navigation {
        width: 100%;
    }

    .values {
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }

    .values .val-box {
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }

    .board {
        width: 92%;
        padding: 0;
        overflow-x: auto;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    #interface .navigation #menu-btn {
        display: initial;
    }

    #menu.active {
        left: 0;
    }

    #menu.active ~ #interface {
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: .3s ease;
    }
}

@media (max-width:480px) {

    #interface .navigation {
        padding: 15px;
    }

    #interface .navigation .search input {
        width: 150px;
    }

    .i-name {
        padding: 30px 15px 0 15px;
    }

    .values {
        padding: 15px 15px 0 15px;
    }

    .values .val-box {
        width: 100%;
        margin: 8px 0;
    }

    .board {
        margin: 30px 15px 30px 15px;
    }


}