@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #eef0f3;
    position: relative;
    display: flex;
    font-family: 'Noto Serif', serif;
}

/* SideMenu */
#menu {
    background-color: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#menu .logo {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

#menu .logo img {
    width: 40px;
    margin-right: 20px;
}

#menu .logo h2 {
    margin: 0;
}

#menu .items {
    margin-top: 40px;
    padding: 0;
    list-style: none;
}

#menu .items li {
    padding: 15px 0;
    transition: .3s ease;
}



#menu .items li i {
    color: #B1A296;
    width: 30px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

#menu .items li a {
    text-decoration: none;
    color: #B1A296;
    font-weight: 300px;
    transition: .3s ease;
}

#menu .items li:hover {
    background-color: #253047;
    cursor: pointer;
}

/* #menu .items li:nth-child(1) {
    border-left: 4px solid #fff;
} */

/* after finishing make it like below */
#menu .items li.current {
    border-left: 4px solid #fff;
}


#menu .items li:hover i,
#menu .items li:hover a {
    color: #F3F4F6;
}


/* end first part */





/* Interface */
#interface {
    width: calc(100% - 300px);
    position: relative;
    margin-left: 300px;
}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #5D5C61;
    position: fixed;
    width: calc(100% - 300px);
}

#interface .navigation .n1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation #menu-btn {
    color: #2b2b2b;
    cursor: pointer;
    margin-right: 20px;
    font-size: 20px;
    display: none;
}

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 14px;
    border: 1px solid #d7dbe5;
    border-radius: 4px;
}

#interface .navigation .search input {
    border: none;
    outline: navajowhite;
    font-size: 14px;
}

#interface .navigation .search i {
    margin-right: 12px;
}


#interface .navigation .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#interface .navigation .profile i {
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

#interface .navigation .profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;    
}

.i-name {
    color: #444;
    padding: 30px 30px 0 30px;
    margin-top: 70px;
    font-size: 24px;
    font-weight: 700;
}


/* end second part */

.values {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.values .val-box {
    background-color: #fff;
    width: 240px;
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.values .val-box i {
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-right: 18px;
}

.values .val-box:nth-child(1) i {
    background-color: #7874ec;
}
.values .val-box:nth-child(2) i {
    background-color: #5c8af0;
}
.values .val-box:nth-child(3) i {
    background-color: #e45d99;
}
.values .val-box:nth-child(4) i {
    background-color: #74daec;
}

.values .val-box span {
    font-size: 15px;
    color: #828997;
}

/* end third part */

/* Table */
.board {
    width: 90%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    background-color: #fff;
    border-radius: 8px;
}

.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

.board h5 {
    font-weight: 600;
    font-size: 14px;
}

.board p {
    font-weight: 400;
    font-size: 15px;
    color: #787d8d;
}

.board .people {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

table {
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #eef0f3;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #f0fafb;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
}

.active p {
    background-color: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit a {
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}